<%= render partial: '/home/part/navbar' %>
<div class="col-md-12" style="">
    <div class="col-md-2" style="height: 900px; border-right: 1px solid #fff">
        <%= render partial: '/home/part/profile' %>
    </div>
    <div class="col-md-10">
        <%= render partial: '/home/part/content_lab' %>
    </div>
</div>