<style>

body {
  background:none;
  color:black;
}
</style>


<a href="/home/list" style="margin:auto"><img src="/sources/logo_bubblegum.png"></a>



<div class="blowing_input">

  <div class="" style="text-align:center">
    <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
  </div>

  <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
    <div class="input_box">
      <input type="hidden" name="location" class="location_input" value="">
      <textarea type="hidden" name="location_text" id="locationText1" style="display:none"></textarea>
      <input type="hidden" name="post_id" value="gdgd">
      <input type="hidden" name="option_num" value="0">
      <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
      <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
      <!--<input class="input_file" type="file" id="tag_file" accept="image/*" onchange="loadFile(event)">-->
      <%= file_field 'upload', 'datafile', class: "input_file", id: "tag_file" %>
    </div>
    <input class="input_submit" type="submit" value="GO">
  </form>

</div>
