<style>
  body {
    background:none;
    color:black;
    height:100vh;
    text-align: center;
    background-image:url(/sources/background.png);
    background-size:cover;
    background-position:bottom;
  }
</style>

<a href="/home/list" style="position:relative;"><img style="margin-top:40vh;" src="/sources/index_enjoyBubblegum.png"></a>
