<!--<div class="col-md-12" style="background: #000; border-bottom: 2px solid #fff; color: #fff; font-size: 17px;">-->
<!--    <div class="col-md-2">how to blow bubble?</div>-->
<!--    <div class="col-md-3">_blank_</div>-->
<!--    <div class="col-md-2">(logo img)</div>-->
<!--    <div class="col-md-3">(search form)</div>-->
<!--    <div class="col-md-2">-->
<!--        <div class="col-md-6"><a class="btn btn-default btn-lg" href="/users/sign_in">login</a></div>-->
<!--        <div class="col-md-6"><a class="btn btn-default btn-lg" href="/users/sign_up">sign up</a></div>-->
<!--    </div>-->
<!--</div>-->


<nav class="navbar navbar-default my_nav">
    <div class="container-fluid">
        <div style="border-bottom: 1px solid #fff;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-8 col-sm-12">
                <div class="navbar-brand col-md-9 col-sm-5 col-xs-5"><a class="my_nav-font_color" href="#">how to blow bubble?</a></div>
                <div class="navbar-brand col-md-3 col-sm-5 col-xs-5"><a class="my_nav-font_color" href="/home/index"><img src="/sources/logo_bubblegum(w).png" style="height:25px;"></a></div>
                <div class="col-xs-2" style="right: 0; padding:0">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" id="user">
                    <li><a href="/users/sign_in" class="my_nav-font_color">login</a></li>
                    <li><a href="/users/sign_up" class="my_nav-font_color">sign up</a></li>
                </ul>

                <form class="navbar-form navbar-right" role="search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <input type="text" class="form-control" placeholder="Search" onkeydown="javascript:if(event.keyCode==13){goPage('1');}">
                  <!-- <button type="submit" class="search_btn">submit</button> -->
                </form>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>


<script>
  // method: 'POST'
  // url: '/home/sample'

</script>
