
$color_pink : #ff007a; //pink
$color_purple : #913dcc; //purple
// $button_color1 : #7655ff; //purple-dark
// $button_color2 : #8671ff; //purple-light



body {
  background: linear-gradient(to right, $color_pink, $color_purple);
  color: #fff;
  font-size: 17px;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}


/* list page *****************************/
div.a {
  width: 200px;
  height:200px;
  background-color: orange;
  position:fixed;
  border-radius:50%;
}

.grow {
  margin:auto;
  position:relative;
  top:200px;
  width:100px;
  height:100px;
  background:red;
  transition: all .2s ease-in-out;
  text-align:center;
  line-height:100px;
}
.grow:hover {
  transform: scale(2);
  background:yellow;
  transition: all .25s ease;
}


/* _navbar.html **************************/
.my_nav{
  background: none;
  border:none;
}
.my_nav-font_color{
  font-size : 10pt;
  text-shadow : none !important;
  color: #fff !important;
  text-decoration: none !important;
}
.my_nav-font_color:hover{
  color: #aeaeae !important;
  transition: color .25s ease;
  -webkit-transition: color .25s ease; /* Safari */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-form {
  border : none;
  box-shadow :none;
  padding: 0px 15px;
}

.glyphicon {
  top:5px;
}

.form-control {
  height:34px;
  padding: 0px 10px;
  border : none;
  border-radius: 0px;
  box-shadow: none;
  background: none;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
  transition: color .25s ease;
  -webkit-transition: color .25s ease;
  text-shadow: none !important;
}

.form-control:hover::-webkit-input-placeholder {
  color:#aeaeae;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid white;
  color: white;
}



/*************** contents ****************************/
.reporter_image{
  width:100px;
  height:100px;
  border:5px solid white;
  margin:auto;
  border-radius: 50%;
  background-image:url(/sources/profile.png);
  background-size:100%;
  text-align:right;
  line-height:9;
}

.reporter_mark {
  width:35px;
  height:35px;
  position:relative;
}

.article_image {
  position:relative;
  width:100%;
  border:10px solid white;
  margin:auto;
  border-radius: 50%;
  background-size:cover;
  background-position: center center;
}

.article_image:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.reply_gum1_image {
  position:relative;
  width:100%;
  border:10px solid white;
  margin:auto;
  border-radius: 50%;
  background-size:cover;
  background-position: center center;
}
.reply_gum1_image:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.reply_gum {
  font-weight:100;
  font-size:12pt;
  border-bottom: 1px solid white;
  margin-bottom:15px;
  padding:5px;
  padding-bottom:10px;
}

.reply_gum2 {
  position:relative;
  width:100%;
  background:white;
  color:black;
  margin:auto;
  border-radius: 50%;
}
.reply_gum2:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.reply_gum2_text{
  position: absolute;
  top: 7vh;
  padding: 20px;
  max-height: 20vh;
  overflow: hidden;
}

.reply_gum3_link {
  position:absolute;
  left:50%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
  -o-transfrom: translateX(-50%);
  transform: translateX(-50%);
  bottom:10px;
  background: linear-gradient(to right, $color_pink, $color_purple);
  width:50px;
  height:50px;
  border-radius:50%;
  // cursor:pointer;
}

.reply_username {
  font-weight:400;
}


.blowing_input {
  position:relative;
  width:500px;
  height:500px;
  border:10px solid white;
  margin:auto;
  border-radius: 50%;
  background: linear-gradient(to right, $color_pink, $color_purple);
  padding: 60px 15px;
}

// .blowing_input:before{
// 	content: "";
// 	display: block;
// 	padding-top: 100%; 	/* initial ratio of 1:1*/
// }

#button_form {
  display:none;
}

#button_form div {
  cursor: pointer;
}

//// modal //////////////////////////////////////////
@media (min-width: 768px) {
  .modal-dialog {
    margin: 100px auto;
  }
}

.blowing_mark {
  background: white;
  width: 100px;
  height: 30px;
  top: 15px;
  position: relative;
  color: black;
  float: left;
}

.close {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: 100;
}

.input_box {
  width:350px;
  height:250px;
  background:white;
  border:none;
  padding: 5px 10px;
  color:black;
  margin: auto;
}

.input_box input, textarea {
  font-size:12pt;
  width:100%;
  border:none;
  padding:5px;
}

.input_username {
  border-bottom: 1px solid $color_pink !important;
}
.input_text {
  height:164px;
}
.input_submit {
  margin-top:18px;
  width:80px;
  height:80px;
  border-radius: 50%;
  border:5px solid white;
  background: linear-gradient(to right, $color_pink, $color_purple);
}

.article_text {
  background-color:white;
  color:black;
  padding:25px;
  line-height:1.8;
}
